.chat-container {
    display: flex;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.dark-mode .chat-container {
    background-color: #1e1e1e;
}

.chat-sidebar {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    width: 20%;
}

.dark-mode .chat-sidebar {
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.new-conversation-button {
    background-color: #0069d9;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
}

.dark-mode .new-conversation-button {
    background-color: #005bb5;
    color: #e0e0e0;
}

.new-conversation-button:hover {
    background-color: #005bb5;
}

.dark-mode .new-conversation-button:hover {
    background-color: #004b9c;
}

.chat-content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    width: 100%;
}

.dark-mode .chat-content {
    background-color: #2e2e2e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.no-conversation {
    margin: auto;
    text-align: center;
    color: #777;
}

.dark-mode .no-conversation {
    color: #ccc;
}
