.schedule-grid {
    border-collapse: collapse;
    width: 100%;
}

.schedule-grid th,
.schedule-grid td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.dark-mode .schedule-grid th,
.dark-mode .schedule-grid td {
    border: 1px solid #555;
}

.schedule-grid th {
    background-color: #f2f2f2;
    color: #333;
}

.dark-mode .schedule-grid th {
    background-color: #3a3a3a;
    color: #ccc;
}

.schedule-grid td {
    height: 100px;
    vertical-align: top;
    position: relative;
    background-color: #ffffff;
    color: #333;
}

.dark-mode .schedule-grid td {
    background-color: #2e2e2e;
    color: #ccc;
}
