h2 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    color: #333;
}

.dark-mode h2 {
    color: #ccc;
}

.breadcrumb-container {
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dark-mode .breadcrumb-container {
    color: #ccc;
}

.breadcrumb-item {
    cursor: pointer;
    font-weight: bold;
    color: #007bff;
}

.dark-mode .breadcrumb-item {
    color: #4facff;
}

.breadcrumb-item:hover {
    text-decoration: underline;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-button {
    margin: 8px;
    height: 40px;
    width: 180px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(215, 217, 219, 255);
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.dark-mode .sidebar-button {
    background-color: rgba(50, 50, 50, 255);
    color: #ccc;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

.sidebar-button:hover {
    background-color: rgba(195, 197, 199, 255);
}

.dark-mode .sidebar-button:hover {
    background-color: rgba(70, 70, 70, 255);
}

.group-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-button {
    margin: 5px;
    padding: 10px 0;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    color: black;
    font-weight: bold;
}

.dark-mode .group-button {
    background-color: #2e2e2e;
    color: #ccc;
}

.group-button:hover {
    color: #007bff;
    text-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}

.dark-mode .group-button:hover {
    color: #4facff;
    text-shadow: 0px 0px 8px rgba(79, 172, 255, 0.5);
}
